/.vscode
/data/
/mnist/
/src/mamba/data/mnist/
/mamba-chat*/
__pycache__
checkpoint-*
/weights/cfg/
/weights_run
/result/
/res.yaml
/share
/logs
/out.csv
/weights/mamba-chat
/eval_run
/src/pscan
/out/
*.pkl
/src/mamba2
/eval_pvc
/weights_pvc
/bak
/src/lm-evaluation-harness
/lib
/core
/remote
/weights/fp32/grid/003_super_glue_outlora_sdt_fp32_lessit_grid
# /weights/fp32/grid/004*
sync_git.py
/test_run
/wandb
/untracked.idea/
